/* src/components/HomePage.css */

body {
    text-align: center;
    background-image: url('../../public/background-test.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    background-size: cover;
    background-position: center;
    height: 1080px;
}

.homepage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .homepage-content {
    text-align: center;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }